body {
    background-color: black;
    text-align: center;
}
h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;  
}
h2 {
    color:white;
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
}
p {
    font-family: Verdana;
    font-size: 21px;
    color:gray;
}
.dload-link {
    color:aquamarine;
    font-size: 16px;
}
footer p {
    text-align: right;
}
#phone-icon {
    padding-top: 20px;
    text-align: center;
}